version: '3.8'

services:
 app:
  build: .
  container_name: shop_backend
  ports:
   - "8080:8080"
  depends_on:
   - db
  environment:
   - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shop_db
   - SPRING_DATASOURCE_USERNAME=postgres
   - SPRING_DATASOURCE_PASSWORD=postgres
   - SPRING_JPA_HIBERNATE_DDL_AUTO=update

 db:
  image: postgres:15-alpine
  container_name: postgres_db
  ports:
   - "5438:5432"
  environment:
   - POSTGRES_DB=shop_db
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=postgres
  volumes:
   - postgres_data:/var/lib/postgresql/data

volumes:
 postgres_data:
